

body {
  background-color: #fff);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  text-align:center;
  font-weight:800;
  font-size: 4em;
  line-height: 2em;
  color: mediumpurple;
  text-transform: capitalize;
  position: relative;
  width: 100%;
  background-color: #fff;
    }

footer {
  text-align: center;
  align-items: center;
  Width: 100%;
  background-color: #fff;
  list-style-type: none;
  line-height: 1em;
  color: mediumpurple;
  position: sticky;
  margin-bottom: 5em
}

  a {
    font-size: 1em;
    text-decoration: none;
    list-style-type: none;
    text-transform: lowercase;
    color: white;
    padding: 6.5em;
    }

li {
    font-size: .5em;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    text-transform: lowercase;
    color: white;
    padding: .2em 
}

nav#top {
  padding:1em; 
  text-align: center;
  line-height: 1em;
  background-color: rebeccapurple;
  border-width: 14.28;
  }

nav.aside {
  margin-top: 0em;
  display: inline-block;
  padding: 0em; 
  width: 20%;
  background-color: plum;
  font-size: 2em;
  line-height: 2em;
  text-transform: lowercase;
  }
    
  
img {
  padding-right: 5em;
  padding-top: 12em;
  padding-bottom: 12em;
}

#main {
float:right;
margin: 0 0 10em 10em;
  }

figcaption {
  text-align: center;
  font: .2em
}




  
  
  
 
  
  
  
